body
{
	background-color: #ededed;
}
.logo
{
	background-position: center -10px;
	background-position-x: center;
	background-position-y: -10px;
	height: 170px;
	width: 100%;
	background-image: url(../img/90w1lpp6ry.png);
	background-repeat: no-repeat;
}
nav ul
{
	margin: 0px;
	padding: 0px;
	width: 100%;
}
nav ul li
{
	height: 30px;
	width: 20%;
	list-style: none;
	float: left;
	display: inline;
	font: 0.9em arial,helvetica,sans-serif;
}
nav ul li a
{
	color: #FFF;
	width: 100%;
	text-align: center;
	text-decoration: none;
	display: block;
	background:#808db3;
	line-height: 29px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	transform: perspective(1px) translateZ(0);
	position: relative;
}
nav ul li a:hover
{
	background: #83f4f9;
}
nav ul li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #efeb63;
  height: 4px;
  transition-property: left, right;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
nav ul li a:hover:before 
{
  left: 0;
  right: 0;
}
nav ul li ul li
{
	width: 100%;
	height: 100%;
}
nav ul li ul li a
{
	background: #69abf7;
	line-height: 24px;
}
nav ul li ul
{
	visibility: hidden;
}
nav ul li:hover ul
{
	visibility: visible;
}
nav ul li ul li a:hover
{
	background: #bff7c5;
}
li
{
	list-style: none;
}
footer .foot
{
	clear: both;
	margin-top: 50px;
	padding-top: 6px;
	border-top: 1px solid #0099FF;
}

footer .foot p
{
	font-size: 12px;
	text-align: center;
	color: #333333;
	line-height: 22px;
}